.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px  20px;
  background: rgba(17, 24, 39, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar.scrolled {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}
.gradient {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(90deg, #ffffff, #ffffff); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  position: relative;
  margin: 1%;
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgba(2, 233, 222, 0.7);
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white;
  box-shadow: 0 2px 20px;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

.nav-links li {
  position: relative;
}

.nav-links li a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  border-radius: 8px;
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

/* Hover underline effect */
.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 14px;
  right: 14px;
  height: 2px;
  background: linear-gradient(to right, #3b82f6, #a855f7);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  border-radius: 4px;
}


.nav-links li a:hover::after {
  transform: scaleX(1);
}

/* Active nav item */
.nav-links li.active a {
  background: linear-gradient(to right, #649dfa, #b53aee);
  color: white;
  padding: 8px 16px;
  box-shadow: 0 0 8px rgba(168, 85, 247, 0.6);
  border-radius: 8px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 30px;
    flex-direction: column;
    background: rgba(30, 30, 30, 0.95);
    padding: 20px;
    border-radius: 10px;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  /* Disable hover underline on mobile */
  .nav-links li a::after {
    display: none;
  }
}
