/* src/components/Navbar.css */
.navbar {
  /* position: fixed;
  position: sticky; */
  /* top: 0;
  width: 100%;
  z-index: 999; */
  
  padding: 16px 40px;
  background-color: #1e1e1e;
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  width: 100%; /* optional, for full-width navbar */
  z-index: 1000;
}

.navbar.scrolled {
 
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.logo {
  font-size: 24px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  color: #d0ff00;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li:hover
{
  color: hsl(27, 100%, 54%);
}
.nav-links li.active {
  color: #00fc0d;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 40px;
    background: #1e1e1e;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
